<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header-title">
                        <h4 class="pull-left page-title">ORDERS</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-lg-12 col-xlg-12 col-md-12">

                                <a (click)="openOrderDialog(null)"
                                    class="btn btn-success pull-right m-adjust pull-left">
                                    <i class="fa fa-user-plus"></i> Create Order
                                </a>

                                <div class="row">
                                    <button type="button " class="btn btn-default waves-effect waves-light pull-right"
                                        (click)="reset()" style="margin: 5px;">Reset</button>&nbsp;

                                    <button type="button " class="btn btn-success waves-effect waves-light pull-right"
                                        (click)="applyFilter();" style="margin: 5px;">Search</button>&nbsp;

                                    <div class="col-md-2 pull-right">
                                        <div class="form-group">
                                            <label class="control-label hide">
                                                Value
                                            </label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="ion ion-edit"
                                                        aria-hidden="true"></i></span>
                                                <input aria-describedby="addon-right addon-left" type="text"
                                                    placeholder="Value" id="filterValue" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 pull-right">
                                        <div class="form-group">
                                            <label class="control-label hide">
                                                Column
                                            </label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="ti ti-layout-tab-window"
                                                        aria-hidden="true"></i></span>
                                                <select class="form-control form-control-line" id="filterColumn"
                                                    (change)="onChange()">
                                                    <option value='' disabled>--Select--</option>
                                                    <option value="order_id">Order ID</option>
                                                    <option value="customer_name">Customer Name</option>
                                                    <option value="total_items">Total Items</option>
                                                    <option value="order_status">Status</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fresh-table full-color-orange table-responsive ">
                                    <table datatable [dtOptions]="dtOptions"
                                        class="table custtable table-striped table-bordered">

                                        <thead>
                                            <tr>
                                                <th class="max-width sortable">Order ID</th>
                                                <th class="sortable sortable--desc">Customer Name</th>
                                                <th>Items</th>
                                                <th>Status</th>
                                                <th>Due Date</th>
                                                <th>Order Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let order of orders">
                                                <td><a style="cursor: pointer;"
                                                        (click)="openOrderDialog(order)">{{ order.orderId }}</a></td>
                                                <td>{{ order.customerName }}</td>
                                                <td>{{ order.totalItems }}</td>
                                                <td>{{ order.orderStatus }}</td>
                                                <td>{{ order.estimatedDeliveryDate }}</td>
                                                <td>{{ order.orderReceivedDate }}</td>
                                            </tr>
                                        </tbody>

                                        <tbody *ngIf="orders?.length == 0">
                                            <tr>
                                                <td colspan="6" class="no-data-available">No records found</td>
                                            </tr>
                                        <tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>