<div class="topbar">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <a routerLink="index" class="logo"><img src="assets/images/laundry-logo.jpg" height="50"
                            style="vertical-align:top"></a>
                    <a routerLink="index" class="logo"><img src="assets/images/laundry-logo-1.png" height="35"
                            style="margin-bottom: 20px;"></a>
                </div>
                <ul class="nav navbar-nav menu-nav">
                    <li class="hidden-xs menu-nav"> <a class="navbar-menu-active waves-effect waves-light"
                            style="line-height: 50px;" routerLink="/index"><i class="fa fa-home"></i><span
                                class="menu-text">HOME</span></a></li>
                    <li class="hidden-xs menu-nav"> <a routerLink="/index/users/userslist" class="waves-effect waves-light"
                            style="line-height: 50px;"><i class="fa fa-shopping-cart"></i><span
                                class="menu-text">ORDERS</span></a></li>                  
                </ul>
                <ul class="nav menu-nav" style="float: right !important;">

                    <li class="hidden-xs menu-nav"> <a routerLink="/login" class="waves-effect waves-light" style="line-height: 47px;"><i
                                class="fa fa-sign-out"></i><span class="menu-text">LOGOUT</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>