<div class="">
    <div id="wrapper">
        <app-header></app-header>       
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="ion ion-close-round"></i></button>
                        <h4 class="modal-title" id="mySmallModalLabel">Log out</h4>
                    </div>
                    <div class="modal-body">
                        <p>You will be returned to the login screen.</p>
                    </div>
                    <div class="modal-footer"> <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cencel</button> <a href="pages_login.html" type="button" class="btn btn-primary waves-effect waves-light">Log out</a></div>
                </div>
            </div>
        </div>
    </div>
</div>