/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.dataTables_length 
{
    display: none !important;
}
.dataTables_filter
{
    display: none !important;
}

/*
   server-side-angular-way.component.css
*/
.no-data-available {
    text-align: center;
  }
  
  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none !important;
  }
  
#dashboardTable .dataTables_info .dataTables_paginate
{
    display: none !important;
}

#dashboardTable .dataTables_paginate
{
    display: none !important;
}

#dashboardTable .dataTables_info
{
    display: none !important;
}

